/*-----------------------------------------------------------------------*/
/*                             CSS RESET                                 */
/*-----------------------------------------------------------------------*/

/** * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/) *
http://cssreset.com */
html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p,
blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em,
img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u,
i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table,
caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details,
embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby,
section, summary,time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu,
nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;	border-spacing: 0;
}

/*-----------------------------------------------------------------------*/
/*                            Main Style                                 */
/*-----------------------------------------------------------------------*/

html {
    //background: darkgray;
    background-color: #000000;
}

a {
    text-decoration: none;
}

/*-----------------------------------------------------------------------*/
/*                              Header                                   */
/*-----------------------------------------------------------------------*/

#side {
    position: fixed;
    width: 18%;
    height: 100%;
    z-index: 10;
    padding-top: 40px;
    background-color: #262626;
    text-align: center;
}

#site_logo {
    color: #ffffff;
    font-size: 60px;
    font-family: "Lobster Two", sans-serif;
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -ms-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
}

#site_logo:hover {
    color: #cbcbcb;
}

/*-----------------------------------------------------------------------*/
/*                          Navigation Style                             */
/*-----------------------------------------------------------------------*/

#nav_choices {
    padding-top: 40px;
    font-family: "Oxygen", sans-serif;
    font-size: 15px;
    line-height: 50px;
}

#nav_choices li {
}

#nav_choices li a{
    color: #ffffff;
    text-transform: uppercase;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

#nav_choices li a.active {
    color: #0ad5ff;
}

#nav_choices li a:hover {
    color: #0ad5ff;
}



/*-----------------------------------------------------------------------*/
/*                            Join Us Button                             */
/*-----------------------------------------------------------------------*/

#join {
    color: #ffffff;
    font-size: 18px !important;
    background-color: #2f3835;
    padding: 9px 50px;
    line-height: 70px;
    border-radius: 5px;
}

#join:hover {
    background-color: #3c3d3c;
}

/*-----------------------------------------------------------------------*/
/*                             Social Menu                               */
/*-----------------------------------------------------------------------*/

#social_menu_wrapper {
    display: block;
    height: 50px;
    position: absolute;
    bottom: 100px;
    left: 0;
    width: 100%;
}

#social_menu {
    text-align: center;

}

.icon {
    display: inline-block;
}

.icon a {
    margin-left: 9px;
    margin-right: 9px;
    color: #B6B6B6;
    font-size: 40px;
    height: 33.4px;
    width: 32px;
    border-radius: 10px;
    line-height: 34px;

    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

#facebook a:hover {
    color: #3B5998;
    background-color: #ffffff;
    transform: rotate(360deg);
}

#twitter a:hover {
    color: #55ACEE;
    background-color: #ffffff;
    transform: rotate(360deg);
}

#github a:hover {
    color: #ffffff;
    background-color: #000000;
    transform: rotate(360deg);
}

/*-----------------------------------------------------------------------*/
/*                             Body Style                                */
/*-----------------------------------------------------------------------*/

#body_wrapper {
    width: 82%;
    float: right;
    overflow: hidden;
    height: 100%;
}













/*    Version 1
#nav_choices {
    padding-top: 40px;
}

#nav_choices li {
}

#nav_choices li a input{
    font-family: "Oxygen", sans-serif;
    font-weight: bold;
    font-size: 20px;
    color: #ffffff;
    background-color: #424242;
    text-transform: uppercase;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;

    border: none;
    width: 100%;
    height: 65px;
    border: solid #000000 1px;
    border-left: none;
    border-right: none;
}

#nav_choices li a input.active {
    color: #0ad5ff;
}

#nav_choices li a input:hover {
    color: #0ad5ff;
    background-color: #4e4e4e;
}



/*-----------------------------------------------------------------------*/
/*                            Join Us Button                             */
/*-----------------------------------------------------------------------*/
/*
#join input{
    background-color: #6b6b6b !important;
}

#join input:hover {

}
*/