
#title {
    text-align: center;
    color: #ffffff;
    font-size: 100px;
    padding-top: 80px;
    font-family: sans-serif;
}
#contactwrapper {
//    border: red 5px solid;
    width: 900px;
    height: 500px;
    margin: 40px auto auto;
}

.form_boxes {
    background-color: #3a3a3a;
    border: none;
    font-size: 20px;
    margin-top: 20px;
    color: #f5f5f5;
    padding-left: 5px;

    -webkit-transition: color, background-color .1s;
    -moz-transition: color, background-color .1s;
    -ms-transition: color, background-color .1s;
    -o-transition: color, background-color .1s;
    transition: color, background-color .1s;
}

.form_boxes:hover, .form_boxes:focus {
    background-color: #484848;
}

.data {
    width: 300px;
    height: 50px;
    margin-left: 3%;
}

#message {
    float: right;
    width: 570px;
    height: 260px;
    vertical-align: top;
}

#messagesubmit {
    font-size: 30px;
    height: 60px;
    width: 891px;
    margin-left: 1%;
    color: #a9a9a9;
}

#messagesubmit:focus {
    cursor: pointer;
}